@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow');
body {
    background-color: coral;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 10px;
    padding-top: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.808);
  max-width: 500px;
  margin: auto;
  padding: 20px;
  
}

h1,
h2, 
h3,
p,
a {
  text-align: center;
}

h1 {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 30px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
